.title {
    margin: 20px auto 0 auto;
    text-align: center;
}

.temperature-container {
    border: 2px solid #fff;
    border-radius: 15px;
    background-color: #CFD8DC;
    margin: 10vh auto 0 auto;
    width: 250px;
    height: 300px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  }
  